# Окружение
venv/
env/
.venv/

# Секреты
.env

# БД
*.db
*.sqlite3

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Тесты
test.db
.pytest_cache/
.coverage
htmlcov/